body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

main {
  max-height: 100vh;
}


p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}


h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.banner_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}

.banner_container article {
  padding: 0rem 5rem;
  width: auto;
}

.banner_container article p {
  font-size: 1.5rem;
}

.banner_container figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.banner_images {
  width: 35rem;
}

.button_call {
  color: white;
  background-color: #2D7783;
  padding: .7rem 1rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button_call span {
  font-weight: 500;
  padding: 0rem .5rem;
}

.card {
  width: 30%;
}

.card_map {
  width: 40%;
}

.flex {
  display: flex;
  align-items: start;
  justify-content: center;
}

.flex_start {
  display: flex;
  align-items: start;
  justify-content: start;
}

.floating_wa {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
}

.footer_container {
  background-color: #1A535C;
  color: white;
  padding: 1rem;
}

.header {
  position: fixed;
  width: auto;
}

.text_center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text_white {
  color: white;
}

.text_md {
  font-size: 1.3rem;
  font-weight: 500;
}

.text_normal {
  font-size: 1rem;
}

.title {
  font-size: 6rem;
}

@media (max-width: 980px) {
  main {
    height: none;
  }

  iframe {
    width: 100%;
  }

  .card_map {
    width: fit-content;
  }

  .header {
    position: absolute;
    width: auto;
  }

  .banner_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  
  .banner_container article {
    padding: 0rem 5rem;
    width: auto;
  }
  
  .banner_container figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .banner_images {
    width: 40rem;
  }

  .card_map {
    width: auto;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: center;
  }
  
  .title {
    font-size: 7rem;
  }

  .text_center {
    text-align: center;
  }
 
}